<a href="/"><h1 class="center-text">Tesco API</h1></a>
{{outlet}}
<br>
<h2 class="center-text">Click a category below</h2>
<br>
<div class="cat-list">
<a {{action 'goTo' 'beer'}}> Beers</a><br>
<a {{action 'goTo' 'wine'}}> Wine</a><br>
</div>
